FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8080
FLASK_DEBUG=True

# A good Secret key can be generated with
# python -c 'import secrets; print(secrets.token_hex())'
SECRET_KEY=s0m3S3cr37k3Y
UPLOAD_FOLDER="./myuploads"